<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:fmt="http://java.sun.com/jsp/jstl/fmt" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>OzoneClientServlet</display-name>
    <servlet-name>OzoneClientServlet</servlet-name>
    <servlet-class>com.voxeo.ozone.web.client.OzoneClientServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>StatsServlet</display-name>
    <servlet-name>StatsServlet</servlet-name>
    <servlet-class>com.voxeo.ozone.web.client.StatsServlet</servlet-class>
  </servlet>
  <listener>
	<listener-class>com.voxeo.ozone.websockets.NettyContextListener</listener-class>
  </listener>  
  <servlet-mapping>
    <servlet-name>OzoneClientServlet</servlet-name>
    <url-pattern>/run</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatsServlet</servlet-name>
    <url-pattern>/stats</url-pattern>
  </servlet-mapping>
</web-app>